// Estilos para el Layout Principal (Shell) de la aplicación
// Se aplican tanto en modo Material Design (Android) como en iOS
@use '../abstracts/variables';

ion-menu {
  // Ancho de la barra de navegación lateral (más pequeña según petición)
  --width: 240px;
}

ion-menu ion-content {
  // Color de fondo del contenido del menú
  --background: #{variables.$white};
}

// Estilos generales para el listado del menú
ion-menu ion-list {
  padding: 10px 0;
}

// Cabecera del menú (Título de la App) con fondo Marrón
ion-menu ion-list-header {
  background-color: variables.$secondary-color;
  color: variables.$white;
  padding: 20px 16px 5px 16px;
  font-size: 1.25rem;
  font-weight: 800;
  margin: 0;
  letter-spacing: 1px;
}

// Nota debajo del título con fondo Marrón
ion-menu ion-note {
  background-color: variables.$secondary-color;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  margin: 0 0 10px 0;
  padding: 0 16px 10px 16px;
  font-size: 0.75rem;
}

// Estilo de cada ítem del menú
ion-menu ion-item {
  --padding-start: 12px;
  --padding-end: 12px;
  --min-height: 40px;
  --border-radius: 6px;
  margin: 0 8px variables.$spacing-xs 8px;
  --transition: 0.3s;
}

// Estado SELECCIONADO del ítem
ion-menu ion-item.selected {
  // Fondo suave con el color tertiary (Wheat)
  --background: rgba(var(--ion-color-tertiary-rgb), 0.15); 
  --color: #{variables.$tertiary-color};
  font-weight: 800;
  border-right: 4px solid variables.$tertiary-color;
  border-radius: variables.$border-radius-sm 0 0 variables.$border-radius-sm;

  ion-icon {
    color: variables.$tertiary-color; // Icono en trigo al estar seleccionado
  }
}

// Iconos en estado normal (Grisáceo)
ion-menu ion-item ion-icon {
  color: #737373;
}

// Etiquetas de texto
ion-menu ion-label {
  font-weight: 500;
  font-size: 0.9rem;
}

// Ajuste global para ítems seleccionados fuera del menú si fuera necesario
ion-item.selected {
  --color: #{variables.$primary-color};
}

// BARRA SUPERIOR (Toolbar) - Verde Bosque con Texto Blanco
ion-toolbar {
  --background: #{variables.$primary-color};
  --color: #{variables.$white};
  --border-style: none;

  ion-title {
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  ion-menu-button {
    --color: #{variables.$white};
  }

  ion-buttons {
    --color: #{variables.$white};
  }
}
